@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

html,
body {
    min-width: 290px;
    color: #4D4E53;
    background-color: #FFFFFF;
    font-family: 'Open Sans';
}

body {
    display: block;
    margin: 8px;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

nav {
    display: block;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

header {
    display: block;
}


#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4D4E53;
    text-decoration: none;
    cursor: pointer;
}

#navbar li {
    color: #4D4E53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

main {
    display: block;
}

section {
    color: #4D4E53;
    margin: 15px;
    font-size: 0.96em;
    display: block;
}

section li {
    margin: 15px 0px 0px 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-family: monospace;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul ul {
    list-style-type: circle;
}